.main {
  width: 400px;
  margin: 0 auto;
}

.form {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form__inp {
  border: none;
  background-color: white;
}

.form__add {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 8px;
  color: #00000033;
  font-weight: 600;
}

.form__add_active {
  background-color: white;
  background-color: #80c890;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 8px;
}
